@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
     Layout = "_Court4ULayout";
}

<div class="">
    <img src="http://m.gettywallpapers.com/wp-content/uploads/2022/03/Badminton-Laptop-Wallpaper.jpeg"
         alt="Badminton Wallpaper"
         class="w-[1920px] h-auto" />
</div>